streamlit
yfinance
pandas
numpy
plotly
requests
feedparser
vaderSentiment
streamlit-autorefresh
openai>=1.0.0
numpy
pandas
yfinance
numpy==1.23.5
scipy==1.10.1
scikit-learn==1.2.2
hmmlearn==0.2.8
yfinance
streamlit

